.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.nav-link {
  color: black !important;
  margin-right: 20px;
}

.btn-custom {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}